<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.company.mysapcpsdkproject" >

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".app.SAPWizardApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".logon.LogonActivity"
            android:label="@string/application_name"
            android:theme="@style/splashScreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mdui.EntitySetListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.sap.cloud.mobile.onboarding.launchscreen.LaunchScreenActivity"
            android:label="@string/application_name" >
            <meta-data
                android:name="action_handler"
                android:value="com.company.mysapcpsdkproject.logon.LaunchScreenActionHandlerImpl" />
        </activity>
        <activity
            android:name=".mdui.actioneventss.ActionEventssActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.catalogtypebatchss.CatalogTypeBatchssActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.catalogtypes.CatalogTypesActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.causeofconfirmations.CauseOfConfirmationsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.combinationorderactivitys.CombinationOrderActivitysActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.configdatabatchs.ConfigDataBatchsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.confirmationtexts.ConfirmationTextsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.confirmations.ConfirmationsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.deletedentitys.DeletedEntitysActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.employees.EmployeesActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.enrollordertypes.EnrollOrderTypesActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.equipmentbatchss.EquipmentBatchssActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.equipments.EquipmentsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.inspectioncatalogcodegroups.InspectionCatalogCodeGroupsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.inspectioncatalogcodes.InspectionCatalogCodesActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.inspectioncatalogs.InspectionCatalogsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.listtechnicalequipmentbatchs.ListTechnicalEquipmentBatchsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.listtechnicalequipments.ListTechnicalEquipmentsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.localinstallstructures.LocalInstallStructuresActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.logsaps.LogSapsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.longtextnotificationbatchs.LongTextNotificationBatchsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.longtextnotifications.LongTextNotificationsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.longtextorderbatchs.LongTextOrderBatchsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.longtextorders.LongTextOrdersActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.maintenanceactivitytypes.MaintenanceActivityTypesActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.maintenancecontrolparameters.MaintenanceControlParametersActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.maintenancenotificationbatchs.MaintenanceNotificationBatchsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.maintenancenotificationcauses.MaintenanceNotificationCausesActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.maintenancenotificationitems.MaintenanceNotificationItemsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.maintenancenotifications.MaintenanceNotificationsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.maintenanceorderbatchs.MaintenanceOrderBatchsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.maintenanceordercomponents.MaintenanceOrderComponentsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.maintenanceorderoperations.MaintenanceOrderOperationsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.maintenanceorderprioritytextassociations.MaintenanceOrderPriorityTextAssociationsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.maintenanceorders.MaintenanceOrdersActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.masterdatabatchs.MasterDataBatchsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.materialdescriptions.MaterialDescriptionsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.notificationtypetexts.NotificationTypeTextsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.operationmaterials.OperationMaterialsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.orderruletypedatabatchs.OrderRuleTypeDataBatchsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.orderruletypes.OrderRuleTypesActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.ordertypetexts.OrderTypeTextsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.parameterss.ParameterssActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.prioritytexts.PriorityTextsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.users.UsersActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.workcenterdescriptions.WorkCenterDescriptionsActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.workcenters.WorkCentersActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mdui.EntitySetListActivity" />
        </activity>
        <activity
            android:name=".mdui.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/settings_activity_name"
            android:launchMode="singleTop"
            android:parentActivityName=".mdui.EntitySetListActivity"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name="com.sap.cloud.mobile.onboarding.passcode.SetPasscodeActivity"
            android:label="@string/application_name"
            android:parentActivityName=".logon.LogonActivity" >
            <meta-data
                android:name="action_handler"
                android:value="com.company.mysapcpsdkproject.logon.PasscodeActionHandlerImpl" />
            <meta-data
                android:name="validation_action_handler"
                android:value="com.company.mysapcpsdkproject.logon.PasscodeValidationActionHandler" />
        </activity>
        <activity
            android:name="com.sap.cloud.mobile.onboarding.passcode.ConfirmPasscodeActivity"
            android:label="@string/application_name"
            android:parentActivityName=".logon.LogonActivity" >
            <meta-data
                android:name="action_handler"
                android:value="com.company.mysapcpsdkproject.logon.PasscodeActionHandlerImpl" />
            <meta-data
                android:name="validation_action_handler"
                android:value="com.company.mysapcpsdkproject.logon.PasscodeValidationActionHandler" />
        </activity>
        <activity
            android:name="com.sap.cloud.mobile.onboarding.passcode.EnterPasscodeActivity"
            android:label="@string/application_name"
            android:parentActivityName=".logon.LogonActivity" >
            <meta-data
                android:name="action_handler"
                android:value="com.company.mysapcpsdkproject.logon.PasscodeActionHandlerImpl" />
            <meta-data
                android:name="validation_action_handler"
                android:value="com.company.mysapcpsdkproject.logon.PasscodeValidationActionHandler" />
        </activity>
        <activity
            android:name="com.sap.cloud.mobile.onboarding.fingerprint.FingerprintActivity"
            android:label="@string/application_name" >
            <meta-data
                android:name="action_handler"
                android:value="com.company.mysapcpsdkproject.logon.FingerprintActionHandlerImpl" />
        </activity>
        <activity
            android:name="com.sap.cloud.mobile.onboarding.fingerprint.FingerprintErrorActivity"
            android:label="@string/application_name" >
            <meta-data
                android:name="action_handler"
                android:value="com.company.mysapcpsdkproject.logon.FingerprintActionHandlerImpl" />
        </activity>
        <activity android:name=".logon.UnlockActivity" >
        </activity>
        <activity
            android:name="com.sap.cloud.mobile.onboarding.passcode.ChangePasscodeActivity"
            android:label="@string/application_name" >
            <meta-data
                android:name="action_handler"
                android:value="com.company.mysapcpsdkproject.logon.PasscodeActionHandlerImpl" />
            <meta-data
                android:name="validation_action_handler"
                android:value="com.company.mysapcpsdkproject.logon.PasscodeValidationActionHandlerImpl" />
        </activity>
        <activity
            android:name=".app.ErrorNotificationDialog"
            android:theme="@style/AppTheme.Transparent" >
        </activity>
        <activity
            android:name=".app.ResetApplicationActivity"
            android:theme="@style/AppTheme.Transparent" >
        </activity>

        <!-- this activity just provides a translucent background for the push message dialog -->
        <activity
            android:name=".fcm.PushNotificationActivity"
            android:theme="@style/AppTheme.Transparent" >
        </activity>

        <service android:name=".fcm.SAPFirebaseMessagingService" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".fcm.PushNotificationActionReceiver" >
            <intent-filter>
                <action android:name="CANCEL" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".logon.AskUsagePermissionActivity"
            android:label="@string/get_usage_permission_activity_name"
            android:screenOrientation="sensor"
            android:theme="@style/Onboarding.Default.Light.Theme" >
        </activity>

        <service
            android:name=".offline.OfflineODataSyncService"
            android:enabled="true" >
        </service>

        <meta-data
            android:name="android.content.APP_RESTRICTIONS"
            android:resource="@xml/app_restrictions" />
    </application>

</manifest>